force-app/main/default/flows/Daily_Check_to_Create_monthly_payments.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Copy_1_of_Payment_Exists</name>
        <label>Copy 1 of Payment Exists?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Create_Payment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_EXIST</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Payment.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Active_Students</targetReference>
            </connector>
            <label>Copy 1 of EXIST</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Payment_Day</name>
        <label>Is Payment Day?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Active_Students</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TODAYDAY</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>StudentSignupDay</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Existing_Payment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>EdgeCase_FirstDayAfterShortMonth</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TODAYDAY</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SignupDay</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>DaysInPreviousMonth</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Get_Existing_Payment</targetReference>
            </connector>
            <label>EdgeCase_FirstDayAfterShortMonth</label>
        </rules>
    </decisions>
    <decisions>
        <name>Payment_Exists</name>
        <label>Payment Exists?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_Payment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>EXIST</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Payment.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Active_Students</targetReference>
            </connector>
            <label>EXIST</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CurrentMonthNumber</name>
        <dataType>Number</dataType>
        <expression>MONTH({!$Flow.CurrentDate})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>CurrentMonthText</name>
        <dataType>String</dataType>
        <expression>CASE(
  MONTH(TODAY()),
  1, &quot;Enero&quot;,
  2, &quot;Febrero&quot;,
  3, &quot;Marzo&quot;,
  4, &quot;Abril&quot;,
  5, &quot;Mayo&quot;,
  6, &quot;Junio&quot;,
  7, &quot;Julio&quot;,
  8, &quot;Agosto&quot;,
  9, &quot;Septiembre&quot;,
  10, &quot;Octubre&quot;,
  11, &quot;Noviembre&quot;,
  12, &quot;Diciembre&quot;,
  &quot;Desconocido&quot;
)</expression>
    </formulas>
    <formulas>
        <name>CurrentYearNumber</name>
        <dataType>Number</dataType>
        <expression>YEAR($Flow.CurrentDate)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>DaysInPreviousMonth</name>
        <dataType>Number</dataType>
        <expression>DAY(
  DATE(
    {!CurrentYearNumber},
    {!CurrentMonthNumber},
    1
  ) - 1
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>SignupDay</name>
        <dataType>Number</dataType>
        <expression>DAY({!Loop_Active_Students.Fecha_inscripcion__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>StudentSignupDay</name>
        <dataType>Number</dataType>
        <expression>DAY({!Loop_Active_Students.Fecha_inscripcion__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>TODAYDAY</name>
        <dataType>Number</dataType>
        <expression>DAY({!$Flow.CurrentDate})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>TODAYMONTH</name>
        <dataType>String</dataType>
        <expression>TEXT(MONTH(TODAY()))</expression>
    </formulas>
    <formulas>
        <name>TODAYYEAR</name>
        <dataType>Number</dataType>
        <expression>YEAR(TODAY())</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Daily Check to Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Daily Check to Create monthly payments</label>
    <loops>
        <name>Loop_Active_Students</name>
        <label>Loop Active Students</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Active_Students</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Payment_Day</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_Payment</name>
        <label>Copy 1 of Create Payment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_Active_Students</targetReference>
        </connector>
        <inputAssignments>
            <field>A_o__c</field>
            <value>
                <elementReference>TODAYYEAR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Alumno__c</field>
            <value>
                <elementReference>Loop_Active_Students.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EstadoPago__c</field>
            <value>
                <stringValue>Pendiente</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mes__c</field>
            <value>
                <elementReference>CurrentMonthText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Monto__c</field>
            <value>
                <numberValue>110000.0</numberValue>
            </value>
        </inputAssignments>
        <object>PagoMensual__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Payment</name>
        <label>Create Payment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_Active_Students</targetReference>
        </connector>
        <inputAssignments>
            <field>A_o__c</field>
            <value>
                <elementReference>TODAYYEAR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Alumno__c</field>
            <value>
                <elementReference>Loop_Active_Students.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EstadoPago__c</field>
            <value>
                <stringValue>Pendiente</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mes__c</field>
            <value>
                <elementReference>CurrentMonthText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Monto__c</field>
            <value>
                <numberValue>110000.0</numberValue>
            </value>
        </inputAssignments>
        <object>PagoMensual__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Copy_1_of_Get_Existing_Payment</name>
        <label>Copy 1 of Get Existing Payment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Payment_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Alumno__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Active_Students.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>A_o__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TODAYYEAR</elementReference>
            </value>
        </filters>
        <filters>
            <field>Mes__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentMonthText</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PagoMensual__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Active_Students</name>
        <label>Get Active Students</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Active_Students</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Estado__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activo</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Alumno__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Payment</name>
        <label>Get Existing Payment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Payment_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Alumno__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Active_Students.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>A_o__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TODAYYEAR</elementReference>
            </value>
        </filters>
        <filters>
            <field>Mes__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentMonthText</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PagoMensual__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Active_Students</targetReference>
        </connector>
        <schedule>
            <dayOfMonthToRun>0</dayOfMonthToRun>
            <frequency>Daily</frequency>
            <frequencyNumber>0</frequencyNumber>
            <startDate>2026-03-20</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
